    /* --palette-black-10: rgba(var(--base-black),0.05); */
@media screen, print {
  :root {
    --base-black: 0, 0%;

    /* color palette */
    --palette-black-10: var(--base-black),10%;
    --palette-black-20: var(--base-black),20%;
    --palette-black-30: var(--base-black),30%;
    --palette-black-40: var(--base-black),40%;
    --palette-black-50: var(--base-black),50%;
    --palette-black-60: var(--base-black),60%;
    --palette-black-70: var(--base-black),70%;
    --palette-black-80: var(--base-black),80%;
    --palette-black-90: var(--base-black),90%;

    /* 다른 불투명도를 지정 */
    --light: hsla(var(--palette-black-50), 10%);
    --normal: hsla(var(--palette-black-50), 50%);
    --primary: hsla(var(--palette-black-10), 100%);
  
    /* size */
    --spacing-0: 4px;
    --spacing-1: 8px;
    --spacing-2: 16px;

    --full-width: 100%;
    --height: 32px;
    --minimal-width: 50px;
    --line-height: 28px;
  
    /* font-weight */
    --bolder: 600;

    /* font-size */
    --font-normal: 16px;
    --font-large: 24px;
  }

  /* CSS reset */
  body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  menu {
    margin: 0;
    padding: 0;
  }
  li {
    padding: 0;
    list-style-type: none;
  }
}

@media screen, print {
  .wrapper {
    margin-inline: auto;
    width: 1000px;
  }
  .test-title {
    width: var(--full-width);
  }
  .test-title h1 {
    margin: var(--spacing-2) 0;
    text-align: center;
    font-size: var(--font-large);
  }
  .test-title p {
    line-height: var(--line-height);
    height: var(--line-height);
    font-size: var(--font-normal);
  }
  .test-score {
    display: none;
  }
  
  .test-wrapper {
    margin: var(--spacing-2) 0;
    width: var(--full-width);
    border: 1px solid var(--primary);
  }
  
  .table-row {
    display: grid;
    grid-template-columns: var(--minimal-width) 1fr 1fr var(--minimal-width);
    align-items: center;
    justify-items: center;
  
    border-bottom: 1px solid var(--light);
  }
  .table-row:nth-child(1) {
    font-weight: var(--bolder);
    border-bottom: 1px solid var(--primary);
  } 

  .table-cell,
  .table-subtitle {
    line-height: var(--height);
    text-align: center;
    font-size: var(--font-normal);
  }
  .table-subtitle {
    color: var(--primary);
  }
  .done {
    text-decoration: line-through;
    color: var(--normal);
  }

  .hide {
    visibility: hidden;
  }
  .show {
    visibility: visible;
  }

  menu {
    display: flex;
    justify-content: center;
    gap: var(--spacing-2);
  }

  menu button {
    padding: var(--spacing-1) var(--spacing-2);
  }
}

@media print {
  @page {
    margin: 0 60px;
  }
  .test-score {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .test-score p:not(:last-child) {
    width: 50%;
  }
  .test-score p:last-child {
    width: 100%;
  }

  .table-row {
    display: grid;
    grid-template-columns: var(--minimal-width) 1fr 1fr;
    align-items: center;
    justify-items: center;
  
    border-bottom: 1px solid var(--light);
  }
  .table-subtitle p:last-child {
    display: none;
  }
  input[type="checkbox"] {
    display: none;
  }
  .done {
    text-decoration: none;
    color: var(--primary);
  }
  
  footer {
    display: none;
  }
}